@mixin border {
    border-radius: 10px;
}
@mixin box-shadow {
    box-shadow: inset 0px 0px 8px rgba(0, 0, 0, 0.5), 0px 1px 0px rgba(255, 255, 255, 0.1);
}
@mixin background-gradient {
    background: linear-gradient(to top right,#3F92BF,#2a2122);
    background-repeat: inherit;
    background-attachment:fixed;
    height:100%;
}
@mixin link-color {
    color: #42b983;
}
@mixin primary-font-color {
    color: #fff;
}
@mixin primary-bg-color {
    background: #3F92BF;
}
@mixin secondary-font-color {
    color: #2a2122;
}